fastapi==0.110.1
uvicorn==0.25.0
aiosqlite==0.21.0
pydantic>=2.6.4
fastapi==0.110.1
uvicorn==0.25.0
pydantic>=2.6.4
aiosqlite==0.21.0
pyinstaller==6.15.0
python-dotenv>=1.0.1
python-multipart>=0.0.9
sqlalchemy==2.0.42